@model PrestamoLibros.Models.CopiaDeLibro

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Copia</h2>

<div>
    <h4>Copia De Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Libro.CodigoDeLibro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libro.CodigoDeLibro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCopia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCopia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
